body {
    width: 1280px;
    margin: 0 auto;
}


/* хеадер*/

.header {
    width: 1280px;
    height: 320px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #445162;
}

.pr_img {
    display: block;
    width: 470px;
    height: 215px;
    border: 1px solid black;
    background-color: white;
    float: right;
    margin: 50px 50px;
}

h1 {
    color: white;
    font-size: 45px;
    font-weight: 200;
    margin: 50px 0 0 50px;
}

.start_links {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 50px 0 0 10px;
}

.start_links>li {
    display: block;
    margin-top: 10px;
}


/*Мэйн*/

.main {
    display: block;
    width: 1280px;
    margin: 0 auto;
}

.main:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}


/*Описание товара и видео*/

.desc {
    width: 1280px;
    height: ;
    margin: 0 auto;
    padding: 50px;
}

.desc:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.video {
    width: 430px;
    height: 250px;
    display: block;
    float: right;
    background-color: #445162;
    margin: 0 100px 0 0;
    clear: both;
}

.desc-span {
    font-size: 32px;
    font-family: "Areal";
    color: #445162;
    margin: 50px 0 24px 0;
}

.desc p {
    display: block;
    width: 660px;
}

.dignity {
    width: 100%;
    height: 420px;
    background-color: #f5f5f5;
    padding: 50px;
    box-sizing: border-box;
}


/*Дигнити*/

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity-title {
    font-family: "Areal";
    display: block;
    font-size: 30px;
    color: #445161;
    text-align: center;
    margin: 0 0 24px 0;
}

.ul_1,
.ul_2 {
    display: block;
    width: 540px;
    list-style-type: none;
    color: #445161;
    padding: 0 0 0 46px;
    margin: 0px;
}

.ul_1 {
    float: left;
}

.ul_2 {
    float: right;
}

.dignity-li {
    margin: 0 0 40px 0;
    position: relative;
}

.dignity-li:before {
    content: "+";
    display: block;
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 32px;
    position: absolute;
    top: 0px;
    left: -46px;
}

ul.ul_1:nth-child(2) > li:nth-child(3) {
    margin: 0px;
}

ul.ul_2:nth-child(3) > li:nth-child(3) {
    margin: 0px;
}


/*Скриншоты */


/*span SCREENSHOOTS*/

.screenshots {
    width: 1180px;
    height: 388px;
    display: block;
    padding: 50px;
}

.screenshots:before {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.span_scrinshots {
    display: block;
    text-align: center;
    font-size: 32px;
    font-family: "Areal";
    color: #445161;
}

.screen_desc {
    display: block;
    width: 575px;
    /* height: 150px;*/
    float: left;
    margin: 0 0 30px 0;
}

body > div.main > section.screenshots > article:nth-child(4),
body > div.main > section.screenshots > article:nth-child(6) {
    margin-left: 15px;
}

.screen_desc img {
    display: block;
    background-color: #445161;
    width: 200px;
    height: 150px;
    float: left;
    margin-right: 15px;
}


/*span into article*/

.scr_desc {
    font-family: "Areal";
    font-size: 25px;
    color: #445161;
}

.scr_desc {
    display: block;
    padding: ;
}

.scr_p {}


/*Отзывы*/

.rew {
    display: block;
    margin: 0 auto;
    padding: 50px;
    background-color: #f5f5f5;
}

.rew:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.rew_title {
    display: block;
    text-align: center;
    font-family: "Arial";
    font-size: 36px;
    margin-bottom: 35px;
}

.rew_block {
    width: 48%;
    height: 120px;
    display: block;
    float: left;
}

.rew_avatar {
    width: 75px;
    height: 75px;
    display: block;
    margin-right: ;
    background-color: #445161;
    border-radius: 50%;
    float: left;
}

.rew_p {
    display: block;
    width: 75%;
    float: right;
    font-family: "Arial";
    font-size: 14px;
    padding: 10px;
    background-color: #ebebeb;
    color: #333333;
}

.rew_p:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.rew_p_author {
    display: block;
    color: #989898;
    margin-top: 10px;
}

body > div.main > section.rew > div:nth-child(3),
body > div.main > section.rew > div:nth-child(5) {
    margin-left: 35px;
}

body > div.main > section.rew > div:nth-child(2),
body > div.main > section.rew > div:nth-child(3) {
    margin-bottom: 30px;
}


/*Покупка*/

.buy {
    display: block;
    width: 1180;
    margin: 0 auto;
    padding: 50px;
}

.buy:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.buy_title {
    display: block;
    width: 100%;
    font-family: "Arial";
    font-size: 30px;
    color: #445161;
    text-align: center;
    margin-bottom: 35px;
}

.buy_sec {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.buy_pack {
    display: block;
    width: 300px;
    border: 1px solid #445162;
    border-radius: 5px;
    background-color: #445162;
}

.buy_sec_title {
    display: block;
    height: 50px;
    text-align: center;
    font-family: "Arial";
    color: white;
    font-size: 24px;
    line-height: 50px;
}

.buy_h1 {
    display: block;
    height: 70px;
    text-align: center;
    color: #445162;
    font-family: "Arial";
    font-size: 40px;
    line-height: 70px;
    background-color: white;
}

.buy_sec_ol {
    display: block;
    color: white;
}

.buy_sec_button {
    display: block;
    width: 260px;
    height: 40px;
    margin: 20px;
    font-family: "Arial";
    font-size: 18px;
}


/*Футер*/

.footer {
    width: 1180px;
    height: 500px;
    margin: 0 auto;
    padding: 50px;
    border: 1px solid black;
    background-color: #445162;
    clear: both;
}

.footer_title {
    display: block;
    font-family: "Arial";
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.cont_form {
    display: flex;
    float: left;
    width: 60%;
    
   
}
form {
    margin-left: 25%;
}

form input {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 20px;
}
form textarea {
    width: 500px;
    height: 170px;
    border-radius: 5px;
    margin-bottom: 20px;
}
form button {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    background-color: white;
}

.cont_social {
    display: block;
    float: right;
    width: 37%;
    border: 1px solid #000;
}