.body  {
   weight: 1280px;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 320px;
  border: 1px solid black;
  background-color: #445162;
}
pr_img {
  display: block;
  width: 470px;
  height: 215px;
  border:1px solid black ;
  background-color: wite;
  
}