.body {
    width: 1280px;
    margin: 0 auto;
}

.header {
    width: 1280px;
    height: 320px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #445162;
}

.pr_img img {
    display: block;
    width: 470px;
    height: 215px;
    border: 1px solid black;
    background-color: white;
    float: right;
    margin: 50px 50px;
}

h1 {
    color: white;
    font-size: 45px;
    font-weight: 200;
    margin: 50px 0 0 50px;
}

.start_links {
    list-style-type: none;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin: 50px 0 0 10px;
}

.start_links>li {
    display: block;
    margin-top: 10px;
}

.main {
    display: block;
    width: 1280px;
    margin: 0 auto;
}

.desc {
    width: 100%;
    height: 345px;
    margin: 50px 0 0 0px;
}

.video {
    width: 430px;
    height: 250px;
    display: block;
    float: right;
    background-color: #445162;
    margin: 0 50px 0 0;
}

h2 {
    font-size: 30px;
    color: #445162;
    margin-left: 50px;
}

.desc p {
    display: block;
    width: 660px;
    margin-left: 50px;
}


.footer {
    width: 1280px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: #445162;
    clear: both;
}